.container-table-product {
  display: flex;
  padding: 10px;
}
.container-table-product > table {
  width: 100%;
}

.container-table-product > table:nth-of-type(1) {
  display: none;
}

.container-table-product > table > tr {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* flex-wrap: wrap; */
  padding: 10px;
  margin: 10px;
}

.container-table-product > table >thead> tr > th {
  color: var(--blue);
  font-size: 1.2rem;
}

.container-table-product > table >thead> tr > th,
.container-table-product > table >tbody> tr > td {
  width: 9vw;
  padding: 5px;
  text-align: center;
}
.container-table-product > table >thead> tr > th:last-child,
.container-table-product > table >tbody> tr > td:last-child {
  width: 300px;
  padding: 5px;
}

.container-table-product > table >tbody> tr > td > img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.btn-product {
  color: var(--white);
  background-color: var(--main);
  border-radius: 5px;
  padding: 7px;
  border: none;
  font-size: 1rem;
  margin: 10px;
  cursor: pointer;
  transition: 0.5s;
}
.btn-width {
  width: 60px;
}

.btn-product:hover {
  box-shadow: 0 0 5px gray;
}



/* start edit modal style */
.container-input-edit{
  display: flex;
  justify-content: start!important;
  width: 100%;
  background-color: var(--white-d);
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

.container-input-edit>input{
  border: none;
  outline: none;
  padding: 5px;
  background-color: unset;
  width: 100%;
  font-size: 1.2rem;
}

.container-input-edit>span{
  margin: 5px;
  color: var(--blue);
  font-size: 1.4rem;
}

/* end edit modal style */